*{
    font-family: 'Ubuntu', sans-serif;

}

.mid{
    width: 500px;
    margin-left:20% ;
    /* align-items: center; */
    justify-content: center;

    background-image: url("bcimage.jpg");
    background-size: cover;
    border-radius: 0px 0px 50% 50%;
    overflow: hidden;
}

.inp{
    /* border-radi; */
    /* background: rgba(0, 0, 0, 0); */
    padding: 10px 140px;
    

    /* border-style: none; */
}

.input{
    height: 60px;
    font-size: 20px;
    border-radius:20px;
    border-style: none;
}

.input:active{
    border-style:none ;
}

.content{
    /* margin-bottom:20p ; */
    font-size: 22px;
    padding: 50px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.item{
    width: 130px;
    color: #083546;
    padding: 10px 10px;
    
}

.h{
    width: 120px;
    padding: 20px 0px;
    font-weight: bold;
}