body{
    font-family: 'Mukta', sans-serif;

}

.head{
    width: 500px;
    height: 100px;
    background-color: rgb(33, 93, 125);
    border-radius: 50% 50% 0px 0px;
    margin-left: 20%;
}

.brand{
    width: 120px;
    margin: 0px 37%;
    padding: 22px 0px;
    color:#fff;
    font-size: 32px;
    font-weight: bold;
    
}